html{
    scroll-behavior: smooth;
}
.menu{
    background-color: burlywood;
    padding: 2%;
}
.itens_menu{
    text-align: center;
}
body{
background-color:#F5F5DC;
}
h1{
    padding-top: 1%;
    font-size: 2em;
    padding-bottom: 1%;
}
.img_topo{
    width: 40%;
}

.img_corpo{
    width: 30%;
}

figure{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
}

p{
font-size: 16px;
text-align: justify;
}
.parag_letras > p {
text-align: center;
font-size: 20px;
}
.botao{
    width: 130px;
    height: 50px;
    background-color: blanchedalmond;
    color: bisque;
}
.botao p{
    padding-top: 9px;
}
footer p{
    background-color:#D2B48C;
    padding: 2%;  
    text-align: center;
    font-size: 20px;
}
.center{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}



